.login-form-container {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 6%;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .login-form-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #1890ff;
  }
  
  .ant-form-item {
    margin-bottom: 30px;
  }
  
  .ant-form-item-label {
    text-align: left !important;
    font-size: 18px;
    font-weight: bold;
    color: #555;
  }
  
  .ant-input {
    border-radius: 5px;
    border-color: #ddd;
  }
  
  .ant-input:focus {
    border-color: #1890ff;
  }
  
  .ant-btn-primary {
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    display: block;
    background-color: #1890ff;
    border-color: #1890ff;
  }
  
  .ant-btn-primary:hover,
  .ant-btn-primary:focus {
    background-color: #0d69b4;
    border-color: #0d69b4;
  }
  
  .tagline {
    display: block;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .tagline a {
    color: #1890ff;
    text-decoration: none;
  }
  
  .tagline a:hover {
    text-decoration: underline;
  }
  